.box {
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    padding: 30px;
    border: 1px solid black;
}

p {
    background-color: white;
    padding: 10px;
}

/* Align author name to right */
.text2 p:last-child,
.text3 p:last-child {
    text-align: right;
}